::selection {
    background: #f07b5f; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #f07b5f; /* Gecko Browsers */
  }
.my-bg-primary {
    background-color: #f07b5f !important;
  }
  
  .my-primary {
    color: #f07b5f !important;
  }
  
  .my-bg-dark {
    background-color: #1d1f1f !important;
  }
  
  .my-dark {
    color: #1d1f1f !important;
  }
  .my-bg-grey {
    background-color: #252525 !important;
  }
  
  .my-grey {
    color: #252525 !important;
  }
  